@font-face {
	font-family: 'PTRootUIWebLight';
	src: url('../fonts/PT%20Root%20UI_Light.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Light.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Light.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebRegular';
	src: url('../fonts/PT%20Root%20UI_Regular.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Regular.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Regular.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebMedium';
	src: url('../fonts/PT%20Root%20UI_Medium.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Medium.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Medium.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebBold';
	src: url('../fonts/PT%20Root%20UI_Bold.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Bold.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Bold.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}